@charset "UTF-8";

/* @ reset ------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video, button,  textarea, input { margin: 0; padding: 0; border: 0; }
ul, ol, li { list-style: none; }
body { font-size: 13px; line-height: 1.2; color: #666; letter-spacing: -0.5px; font-size-adjust: none; word-break: break-all; -webkit-tap-highlight-color: transparent; }
h1, h2, h3, h4, h5, h6 { line-height: 1.2; }
em { font-style: normal; }
p { line-height: 1.2; }
img { width: 100%; }
input { -webkit-appearance: none; background: transparent; -webkit-border-radius: 0; border-radius: 0; }
textarea {-webkit-box-sizing: border-box; box-sizing: border-box; padding: 7px 10px !important; min-height: 104px; width: 100%; border: 1px solid #ccc !important; color: #222;  font-size: 13px; line-height: 13px;}
em { font-style: normal; }
img, fieldset { vertical-align: top; }
*, *:before, *:after { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }

/* ?????? ???θ??? ??? Ŀ???? ???? */
* { -webkit-text-size-adjust: none; }

/* ?????? input ????? ????? */
/* input */
input[type="tel"],input[type="text"],input[type="password"],input[type="number"],input[type="date"],input[type="email"],input[type="search"],input[type="image"] {-webkit-box-sizing:border-box; box-sizing:border-box; padding:7px 10px; height:40px; border:1px solid #ccc; background:#fff; color:#222; vertical-align:middle; font-size:13px; line-height:13px;}

/* link */
a { color: #222; text-decoration: none; }
a:hover, a:focus, a:active, a:visited { text-decoration: none; }

/* new - 최신화 버전
* 웹폰트 weight 적용
*/
/* Noto Sans Light */
@font-face {
	font-family:"Noto Sans";
	font-style:200;
	src:url("/static/simple/fonts/nkt_pc/NotoSans-Light.woff2") format("woff2"),
		url("/static/simple/fonts/nkt_pc/NotoSans-Light.woff") format("woff"),
		url("/static/simple/fonts/nkt_pc/NotoSans-Light.eot"),
		url("/static/simple/fonts/nkt_pc/NotoSans-Light.eot?#iefix") format("embedded-opentype");
}
/* Noto Sans DemiLight */
@font-face {
	font-family:"Noto Sans";
	font-style:normal;
	font-weight:300;
	src:url("/static/simple/fonts/nkt_pc/NotoSans-DemiLight.woff2") format("woff2"),
		url("/static/simple/fonts/nkt_pc/NotoSans-DemiLight.woff") format("woff"),
		url("/static/simple/fonts/nkt_pc/NotoSans-DemiLight.eot"),
		url("/static/simple/fonts/nkt_pc/NotoSans-DemiLight.eot?#iefix") format("embedded-opentype");
}
/* Noto Sans Regular */
@font-face {
	font-family:"Noto Sans";
	font-style:normal;
	font-weight:400;
	src:url("/static/simple/fonts/nkt_pc/NotoSans-Regular.woff2") format("woff2"),
		url("/static/simple/fonts/nkt_pc/NotoSans-Regular.woff") format("woff"),
		url("/static/simple/fonts/nkt_pc/NotoSans-Regular.eot"),
		url("/static/simple/fonts/nkt_pc/NotoSans-Regular.eot?#iefix") format("embedded-opentype");
}

/* Noto Sans Medium */
@font-face {
	font-family:"Noto Sans";
	font-style:normal;
	font-weight:500;
	src:url("/static/simple/fonts/nkt_pc/NotoSans-Medium.woff2") format("woff2"),
		url("/static/simple/fonts/nkt_pc/NotoSans-Medium.woff") format("woff"),
		url("/static/simple/fonts/nkt_pc/NotoSans-Medium.eot"),
		url("/static/simple/fonts/nkt_pc/NotoSans-Medium.eot?#iefix") format("embedded-opentype");
}

/* Noto Sans Bold */
@font-face {
	font-family:"Noto Sans";
	font-style:normal;
	font-weight:700;
	src:url("/static/simple/fonts/nkt_pc/NotoSans-Bold.woff2") format("woff2"),
		url("/static/simple/fonts/nkt_pc/NotoSans-Bold.woff") format("woff"),
		url("/static/simple/fonts/nkt_pc/NotoSans-Bold.eot"),
		url("/static/simple/fonts/nkt_pc/NotoSans-Bold.eot?#iefix") format("embedded-opentype");
}

/* Noto Sans Blank */
@font-face {
	font-family:"Noto Sans";
	font-style:normal;
	font-weight:800;
	src:url("/static/simple/fonts/nkt_pc/NotoSans-Black.woff2") format("woff2"),
		url("/static/simple/fonts/nkt_pc/NotoSans-Black.woff") format("woff"),
		url("/static/simple/fonts/nkt_pc/NotoSans-Black.eot"),
		url("/static/simple/fonts/nkt_pc/NotoSans-Black.eot?#iefix") format("embedded-opentype");
}

.top_price .seo-improve-heading {display:inline-block !important;max-width: calc(100% - 157px);font-family:"Apple SD Gothic Neo", "Apple Gothic", -apple-system, BlinkMacSystemFont, Noto Sans, "Noto Sans", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;font-weight:700 !important;font-size:25px !important;letter-spacing:0;word-break:keep-all;}

/* align */
.txt-left { text-align: left !important; }
.txt-right { text-align: right !important; }
.txt-center { text-align: center !important; }
.txt-center td {text-align:center;}
.txt-left tbody th {padding-left:10px !important; text-align:left;}

/**/
h3.title { margin:28px 0 15px; color: #000; text-align: center; font-size: 25px; font-family: "KTB", "Malgun Gothic", "맑은 고딕", "MG", sans-serif;letter-spacing:0;}
h3.title + p { margin-bottom: 20px; color: #454545; text-align: center; font-size: 15px;}
.contents-area {padding:0 15px;}
.screen-out {left:-9999px; width:0.01em; height:0.01em; font-size:0.1em; line-height:0.01em; overflow:hidden;}

/* bx-slider reset */
.bx-wrapper { padding: 0; margin: 0; border: none; box-shadow: none;}
.bx-wrapper .bx-pager { padding: 0; bottom: -25px;}
.bx-wrapper .bx-pager.bx-default-pager a { width: 9px; height: 9px; background: #fff; border: 1px solid #000; margin: 0 3px;}

/* ??? ???? */
input[type="text"],
input[type="password"] { padding: 7px 10px; font-size: 13px; border: 1px solid #ccc; color: #222; height: 40px; line-height: 13px; background: #fff; -webkit-box-sizing: border-box; box-sizing: border-box; vertical-align: middle; color:#888;}
textarea { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 7px 10px !important; min-height: 50px; width: 100%; border: 1px solid #ccc !important; color: #222;  font-size: 13px; line-height: 13px;}

/* ????, u? ??? */
input[type="radio"], input[type="checkbox"] { position: absolute; left: -1000px; }
input[type="radio"]:checked + label:before, input[type="checkbox"]:checked + label:before { border: none; background: #d71826; }
input[type="radio"]:checked + label:after, input[type="checkbox"]:checked + label:after { display: block; content: ""; position: absolute; top: 4px; left: 4px; width: 9px; height: 9px; z-index: 1; background: #fff; }
input[type="radio"] + label, input[type="checkbox"] + label { z-index:1; display: inline-block; position: relative; -webkit-box-sizing: border-box; box-sizing: border-box; padding-left: 22px; margin-right: 15px; font-size: 13px; color: #222; height: 17px; line-height: 17px; }
input[type="radio"] + label:before, input[type="checkbox"] + label:before { display: block; content: ''; position: absolute; top: 0; left: 0; width: 17px; height: 17px; z-index: 0; border: 1px solid #999; background: #fff; }
input[type="radio"]:focus + label, input[type="radio"]:focus + label, input[type="checkbox"]:focus + label, input[type="checkbox"]:focus + label { outline: 1px dotted #666; }
input[type="radio"] + label:before { -webkit-border-radius: 10px; border-radius: 10px; }
input[type="radio"]:checked + label:after { -webkit-border-radius: 5px; border-radius: 5px; }
input[type="checkbox"]:checked + label:before { background: #fff; border: 1px solid #999; }
input[type="checkbox"]:checked + label:after { top: 6px; left: 3px; background: #d71826; width: 2px; height: 2px; box-shadow: 2px 0 0 #d71826, 4px 0 0 #d71826, 6px 0 0 #d71826, 6px -2px 0 #d71826, 6px -4px 0 #d71826, 6px -6px 0 #d71826, 6px -8px 0 #d71826; -webkit-transform: rotate(45deg); transform: rotate(45deg); }

/*select*/
select {background-color:#fff;border:1px solid #ccc; border-radius:0; height:40px; width:100px; padding:0 10px 0 5px; vertical-align:middle;font-size:13px; color:#888;}


/*??*/
[class*="tabs"] {text-align: center;}
[class*="tabs"]:after {content:"";display:block;clear:both;}
[class*="tabs"] .tab li {float:left;width:100%;border-left:1px solid #e4e4e4;}
[class*="tabs"].half li {width:50%;}
[class*="tabs"].third li {width:33.3%;}
[class*="tabs"].fourth li {width:25%;}
[class*="tabs"].fifth li {width:20%;}
[class*="tabs"] .tab li:first-child {border-left: none;}
[class*="tabs"] .tab li a {position:relative;display:block;width:100%;line-height:43px;color:#666;background:#fafafa;border-top:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;box-sizing:border-box;}
[class*="tabs"] .tab li a.active {color:#d71826;background:#fff;}

[class*="tabs"].main .tab li {width:50%;border:0;}
[class*="tabs"].main.third .tab li {width:33.3%;}
[class*="tabs"].main .tab {position: relative;display:inline-block;width: 100%;padding:0 15px;}
[class*="tabs"].main .tab:before {content: "";position: absolute;top: 0;left: 0;width: 100%;border-top: 1px solid #e0e0e0;z-index: 10;}
[class*="tabs"].main .tab:after {content: "";position: absolute;bottom: 0;left: 0;width: 100%;border-bottom: 1px solid #e0e0e0;z-index: 10;}

[class*="tabs"].main .tab li a {font-size:16px;background-color:#fff;color:#222;border:0;}
[class*="tabs"].main .tab li a.active {color:#d71826;}
[class*="tabs"].main .tab li a.active:before {content:"";position:absolute;bottom:0;left:0;width:100%;height:3px;background-color:#d71826;z-index:11;}

.tabs .tab-line {width:100%;height:8px;margin-top:-2px;background-color:#ebebeb;}

.tab-contents > div {display:none;}
.tab-contents > div.active {display:block;}

.tab-contents .img-list a { display: table; padding: 25px 0; }
.tab-contents .img-list a .img-area { display: table-cell; width: 40%; }
.tab-contents .img-list a dl { display: table-cell; width: 60%; vertical-align: middle; }
.tab-contents .img-list a dl dt { font-size: 15px; color: #222; font-weight: bold; }
.tab-contents .img-list a dl dd { font-size: 14px; }
.tab-contents .img-list a dl dd strong { font-size: 15px; font-weight: bold; color: #d71826; }
.tab-contents .img-list a dl dd span { display: block; font-size: 12px; color: #666; }
.tab-contents .img-list li { border-top: 1px solid #e4e4e4; }
.tab-contents .img-list li:first-child { border-top: none; }

.tab-content {display:none;}
.tab-content.selected {display:block !important;}

/* ????¡ */
.paging { position: relative; padding-top: 25px; padding-bottom: 35px; text-align: center; color: #666; vertical-align: middle; }
.paging a { display: inline-block; width: 27px; height: 27px; line-height: 27px; border: 1px solid #ccc; vertical-align: middle; }
.paging a i { color: #666; font-size: 12px; }
.paging a.disabled i { color: #bbb; }
.paging span { padding: 0 15px; vertical-align: middle; }
.paging span em { color: #d71826; font-weight: bold; }
.paging a span {display:inline-block; width:27px; height:27px; text-indent:-9999px;}
.paging a.btn-prev span {background:url(../img/common/icon-prev.png) no-repeat 8px 5px;  background-size:7px auto;}
.paging a.btn-next span {background:url(../img/common/icon-next.png) no-repeat 10px 5px;  background-size:7px auto;}

[class*="btn circle"] {background-color:#fff;}
[class*="btn circle"]:hover {background-color:#ebebeb;}
[class*="is-line-"] {border-width:1px;border-style:solid;}
[class*="small is-line-"] {border-width:1px;line-height:26px;}
[class*="regular is-line-"] {border-width:1px;line-height:38px;}
[class*="medium is-line-"] {line-height:36px;}
[class*="large is-line-"] {/*line-height:42px;*/}
[class*="medium is-line-"]:hover,
[class*="large is-line-"]:hover {background-color:#ebebeb;}
[class*="big is-line-"] {line-height:49px;}

/*button*/
[class*="btn-"] {-webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;letter-spacing:-0.5px;}
[class*="btn-small"] {font-size:12px;line-height:25px;padding:0 18px;}
[class*="btn-medium"] {font-size:14px;line-height:32px;padding:0 19px;}
[class*="btn-big"] {font-size:14px;line-height:32px;padding:0 29px;}
[class*="btn-lager"] {font-size:15px;line-height:36px;padding:0 29px;}

[class*="btn-"][class$="round"] {-webkit-border-radius:17px; -moz-border-radius:17px; border-radius:17px; }
[class*="btn-"][class$="pull"] {font-size:14px; height:38px; width:100%; padding:0; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; }

[class*="btn-"][class*="red"] {border: 1px solid #d71826;background:#d71826;color:#fff;}
[class*="btn-"][class*="line"] {border:1px solid #d71826;background:#fff;color:#d71826;}
[class*="btn-"][class*="dark"] {border:1px solid #222;background:#222222; color:#fff;}
[class*="btn-"][class*="gray"] {border:1px solid #999;background:#999999; color:#fff;}
[class*="btn-"][class*="dark-line"] {border:1px solid #222;background:#fff;color:#222;}
[class*="btn-"][class*="line-gray"] {border:1px solid #c9c9c9;background:#f3f3f3;color:#666;}
[class*="btn-"][class*="white-line"] {border: 1px solid #fff;background:#262e41;color:#fff;}
[class*="btn-"][class*="opacity-line"] {border:1px solid rgba(255,255,255,0.5);background:none;color:rgba(255,255,255,0.5);}


/* btn */
button {overflow:visible;background:none;border:0;cursor:pointer;}
.btn {overflow:hidden;display:inline-block;text-align:center;vertical-align:top;letter-spacing:-0.25px;border-radius:5px;box-sizing:border-box;}
.btn.small {height:21px;padding:0 8px;font-size:10px;line-height:21px;}
.btn.regular {height:23px;padding:0 9px;font-size:12px;line-height:23px;border-radius:2px;}
.btn.medium {height:27px;padding:0 9px;font-size: 12px;line-height:25px;}
.btn.is-red {color:#fff;background-color:#d71826;}
.btn.is-red:hover {background-color:#b50916;}
.btn.is-line-red {color:#1caec5;}
.btn.is-lightgray {color:#fff;background-color:#484848;}
.btn.is-line-lightgray {color:#666;border-color:#bbb;}
.btn.is-navygray {color:#fff;background-color:#333;}
.btn.is-navygray:hover{background-color:#000;}
.btn.is-line-navygray {color:#222;border-color:#333;}
.btn.big.is-line-navygray:hover {background-color:#fff;}
.btn.is-mint {background:#1caec5;color:#fff;}
.btn.is-line-mint {border:1px solid #1caec5;color:#1caec5 !important;}

.btn-big {display:inline-block;height:35px;margin:0 3px;border-radius:17px;line-height:34px;vertical-align:bottom;}
.btn-big.is-mint {background:#1caec5;color:#fff;}
.btn-big.is-line-mint {border:1px solid #1caec5;color:#1caec5;}

.btn-wrap {margin-top:35px; padding:0 15px; width:100%; overflow:hidden; text-align:center;}
.btn-wrap a {display:inline-block;}
.btn-wrap.fixed2 button { width: 48%;}

.btn-wrap.full{width:auto;margin:20px -5px;overflow: initial;/*padding:0 5px 0 15px;*width:100%;*/}
.btn-wrap.full:after{ display: block;clear:both;content:"";}
.btn-wrap.full button{width:100%;padding:0;font-size:15px;}
.btn-wrap.full span{float:left;padding:0 5px;}
.btn-wrap.full span:first-child:nth-last-child(2), .btn-wrap.full span:first-child:nth-last-child(2) ~ span{width:50%;}
.btn-wrap.full span:first-child:nth-last-child(3), .btn-wrap.full span:first-child:nth-last-child(3) ~ span{width:33.33333333333333%;}
.btn-wrap.full span:only-child{width:100%;}

.btn-more { display: block; margin-top: 15px; width: 100%; height: 45px; border-top: 1px solid #e4e4e4; border-bottom: 1px solid #e4e4e4; font-size: 14px; background: #fafafa; color: #666; line-height: 1; }
.btn-more span.bul {display:inline-block; padding:0 17px 0 0; background:url(../img/common/icon-plus.png) no-repeat right 2px;  background-size:12px 12px;}

/* accodions */
.accordions {width:100%;border-top:1px solid #666;text-align:left;}
.accordions .accordion-trigger {position:relative;display:block;font-size:14px;line-height:18px;color:#222;border-bottom:1px solid #e0e0e0;padding:16px 25px;}
.accordions .accordion-trigger:before {content:"";position:absolute;top:50%;right:10px;width:8px;height:8px;border-left:2px solid #6e6e6e;border-top:2px solid #6e6e6e;transform:rotate(225deg);margin-top:-6px;transition: all 0.5s;-webkit-transition: all 0.5s;}
.accordions .accordion-trigger.active:before {content:"";transform:rotate(225deg);-webkit-transform:rotate(45deg);margin-top:-2px;}
.accordions .accordion-contents {display:none;font-size:13px;line-height:1.2;background-color:#f3f3f3;border-bottom:1px solid #d0cfd5;padding:18px 42px;}
.accordions .accordion-contents.active {display:block;}

/* ??? ????? */
.info-bx-gray {margin:20px 0; padding:20px 15px; background-color:#f3f3f3;}
.info-bx-gray .text-left{ line-height:1.4; text-align: left;}
.info-bx-gray .info-text{text-align: center;}
.info-bx-gray strong{font-size: 15px; color: #222222; font-weight: bold; margin-bottom: 10px;display: block;}

ul.bullet{padding:0 0;}
ul.bullet li {position:relative; margin-top:6px;padding-left:8px;font-size:13px;text-align: left;line-height:1.4;}
ul.bullet li:first-child {margin-top:0;}
ul.bullet li:before {position:absolute; left:0px; top:8px;width:3px; height:3px; background:#666; content:""; }
ul.bullet .point {color:#d71826;}

/* table  common */
table { width: 100%; table-layout: fixed; border-collapse: separate; border-spacing: 0; border-top: 1px solid #8f8f8f;}
caption { overflow: hidden; width: 0; height: 0; line-height: 0; }
/*th { background: #f6f6f6; padding: 14px 10px; color: #222; border-left: 1px solid #c8c8c8; word-wrap: break-word; }*/
/*td { vertical-align: middle; padding: 14px 10px; border-left: 1px solid #c8c8c8; border-bottom: 1px solid #c8c8c8; word-wrap: break-word; }*/
tr th:first-child { border-left: 0; }
tr td:first-child { border-left: 0; }

.tbl-type2 th { color: #fff; background: #4d5973; }
.tbl-type2 th:first-child { background: #536894; }
/* table - board , ???? ????? ????? */
table.board {border-collapse: separate; border-top: 1px solid #8f8f8f;}
table.board td.border {border-right:1px solid #ccc !important}
table.board thead th.border {border-right:1px solid #555 !important}
table.board tbody td.dark, table.board tbody th.dark {border-bottom:1px solid #555 !important;}
table.board th { background-color: #f1f2fa; color: #222; font-weight: normal;}
table.board thead th { border-bottom: 1px solid #555; background-color: #f1f2fa;}
table.board tbody th { }
table.board tbody td { text-align: center;}
table.board tbody td a,
table.board tbody td img { vertical-align: middle;}
table.board tbody td .links { border-bottom-width: 1px; border-bottom-style: solid;}
table.board tbody td .ellipsis { vertical-align: middle;}
table.board tbody td a.ellipsis { color: #222;}
table.board tbody td a.ellipsis:hover { color: #d71826; text-decoration: underline;}
table.board tbody td .ellipsis.thumb { position: relative; top: 2px; margin: 10px 0; padding-top: 2px;}
table.board tbody td .ellipsis.thumb img { margin-top: -2px; margin-right: 9px; width: 50px; height: 50px;}
table.board .num { display: inline-block; width: 42px; text-align: center;}
table.board .option-area.only-checkbox { margin-top: 1px;}
table.board .option-area.only-checkbox [type="checkbox"] + label { padding: 0; width: 20px; text-indent: -9999px;}

/* table - board - dir-vertical , ???? ????? ????? */
table.board.dir-vertical { }
table.board.dir-vertical thead th,
table.board.dir-vertical tbody td { height: 55px;}
table.board.dir-vertical tbody td { border-bottom: 1px solid #ccc;}

/* table - board - dir-horizontal , ??? ??? ???? */
table.board.dir-horizontal { }
table.board.dir-horizontal tbody th { padding: 13px 0 12px;}
table.board.dir-horizontal tbody td { padding: 13px 0 12px 10px; color: #454545; text-align: left;}
table.board.dir-horizontal tbody th,
table.board.dir-horizontal tbody td { border-bottom: 1px solid #dbdbde;}
table.board.dir-horizontal tbody th + td { border-left: 1px solid #dbdbde;}
table.board.dir-horizontal tbody tr:last-child th,
table.board.dir-horizontal tbody tr:last-child td { border-bottom-color: #8f8f8f;}

/* ??? */
.pop-area {}
.pop-wrap { margin: auto; width: 290px; border: 2px solid #222; background: #fff;}
.pop-wrap { position: relative; padding: 16px 14px 0;}
.pop-title { margin-top: 17px; color: #222; text-align: center; font-size: 16px;}
.pop-close { position: absolute; top: 6px; right: 6px; overflow: hidden; width: 30px; height: 30px; background: url(../img/common/ico-pop-close.png) no-repeat 0 0; background-size: 30px 30px; color: transparent;}
.pop-body { padding-top: 18px;}
.pop-body .msg { color: #222; text-align: center; font-size: 16px;}
.pop-footer { margin: 15px 0 30px; text-align: center;}

/* ?????? ?????? */
.embed-container { position: relative; overflow: hidden; padding-bottom: 56.25%; max-width: 100%; height: 0;}
.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

.temp-gnb, .temp-footer{font-size: 20px;font-weight: bold;color: #222;padding: 15px;text-align: center;}
.temp-gnb {border-bottom: 1px solid #ccc;}
.temp-footer {margin-top: 30px;border-top: 1px solid #ccc;}

/* 접근성 테스트 */
.text-accessibility {overflow:hidden;position:absolute;clip:rect(0,0,0,0);width:1px;height:1px;margin:-1px;color:transparent;}

/* 팝업 */
.pdcpop-wrap {position:relative;padding:15px;border:2px solid #222;background:#fff;}
.pdcpop-header {color:#222;font-size:16px;text-align:center;}
.pdcpop-body {padding:18px 0 0 0;}
.pdcpop-body .pdcpop-tit {display:block;margin:15px 0 0 0;font-size:14px;color:#222;}
.pdcpop-footer { margin: 15px 0 30px; text-align: center;}

/* 공통 탭 */
.com-tabs {display:table;position:relative;width:100%;margin:0 0 8px;padding:0 15px;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;}
.com-tabs:after {content: "";z-index:1;position:absolute;bottom:-9px;left:0;width:100%;border-bottom:8px solid #ebebeb;}
.com-tabs li {position:relative;display:table-cell;width:50%;height:66px;padding:10px 0;vertical-align:middle;}
.com-tabs li a {z-index:2;position:relative;display:block;color:#222;font-weight:bold;font-size: 15px;letter-spacing:-1px;word-spacing:-1px;}
.com-tabs li.selected:after {content:'';z-index:1;position:absolute;bottom:0;left:0;width:100%;border-bottom:3px solid #d71826;}
.com-tabs li.selected a {color:#d71826;}

.com-tabs-tp1 li {float:left;display:table;width:50%;height:43px;}
.com-tabs-tp1 li a {position:relative;display:table-cell;width:100%;padding:12px 0;line-height:1.4;vertical-align:middle;color:#000;background:#e8e9f0;border-top:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;}
.com-tabs-tp1 li + li a {border-left: 1px solid #e4e4e4;}
.com-tabs-tp1 li.selected a {display: block;margin-top: -3px;line-height:1.4;border: 3px solid #d71826;font-size: 14px;font-weight: bold;color: #d71826;background: #fff;}

.com-tabs-tp1.tp1 {display:flex;flex-wrap:wrap;position:relative;padding:94px 0;}
.com-tabs-tp1.tp1 li {position:absolute;top:0;left:0;height:62px;}
.com-tabs-tp1.tp1 li:nth-child(even) {left:50%;}
.com-tabs-tp1.tp1 li:nth-child(3), .com-tabs-tp1.tp1 li:nth-child(4) {top:62px;}
.com-tabs-tp1.tp1 li:nth-child(5), .com-tabs-tp1.tp1 li:nth-child(6) {top:124px;}
.com-tabs-tp1.tp1 li a {align-content:center;height:100%;}
.com-tabs-tp1.tp1 li.selected {z-index:10;height:68px;}

.com-tabs-tp2 {display:flex;width:100%;flex-wrap:wrap;margin:20px 0 0 0;border-left:1px solid #e4e4e4;border-top:1px solid #e4e4e4;}
.com-tabs-tp2.first {margin:0;}
.com-tabs-tp2 li {flex:0 0 50%;width:50%;border-bottom:1px solid #e4e4e4;border-right:1px solid #e4e4e4;}
.com-tabs-tp2 li a {display:block;align-content:center;height:100%;padding:12px 0;background:#fafafa;}
.com-tabs-tp2 li.selected a {margin:0;color:#d71826;background:#fff;font-weight:800;}

.tabContent {display:none;}
.tabContent.selected {display:block;}

.hsection {position:relative;padding:30px 0;background:url('/static/common/mobile/img/common/bg/bg_com_visual.jpg') no-repeat 50% 50%;background-size:cover;color:#222;text-align:center;}
.hsection .tit{display:inline-block;font-family:"KTB", "Malgun Gothic","MG", sans-serif;font-size:25px;letter-spacing:0;max-width:calc(100% - 100px);}
.hsection .txt {padding:20px 0 0 0;font-size:14px;}
.hsection .sns-area {position: absolute;display: inline-block;vertical-align: 7px;padding-left: 10px;padding-top: 2px;z-index:20}
.hsection .sns-area .btn-sns:after{position: absolute;content: '';background: url('/static/common/mobile/img/common/icon/icon_arrow_sns.png') no-repeat center bottom;left: 0;width: 100%;top: -17px;height: 17px;bottom: -1px;background-size: 20px 13px;}
.hsection .sns-area img{width: 25px;}
.hsection .sns-area .btn-sns{display: none;position: absolute;padding: 20px 0;border: 1px solid #ccc;border-radius: 0;left: 50%;margin-left: -31px;width: 72px;margin-top:15px;background-color: #fff;z-index:20}
.hsection .sns-area .btn-sns a{display: block;padding-top: 35px;background-repeat: no-repeat;margin-top: 10px;background-size: 30px 30px;background-position: center top;font-size: 12px;color: #222;}
.hsection .sns-area .btn-sns a:first-child{margin-top: 0;}
.hsection .sns-area .btn-sns .btn-facebook{background-image:url('/static/common/mobile/img/common/icon/icon_sns_facebook.png');}
.hsection .sns-area .btn-sns .btn-twitter{background-image:url('/static/common/mobile/img/common/icon/icon_sns_twitter.png');}
.hsection .sns-area .btn-sns .btn-naverline {border:0;background-image:url('/static/common/mobile/img/common/icon/icon_naver_line.png');}

.hsection .sns-area img{width:25px;}

/* 공통 리스트 팝업 */
.List-layer-popup {display:none;position:absolute;width:80%;left:0;margin:20px 10% 0;border:1px solid #555;box-sizing: border-box;background: #fff;z-index: 1;}
.List-layer-popup .List-layer-header{height:45px;line-height:45px;border-bottom:1px solid #ccc;font-size:16px;text-align:center;}
.List-layer-popup .List-layer-contents {padding:15px;}
.List-layer-popup .List-layer-contents .msg {text-align:left;}
.List-layer-popup .List-layer-contents .msg + .msg {margin-top:10px;}
.List-layer-popup .List-layer-contents .title {display:inline-block;color:#222;vertical-align:top;}
.List-layer-popup .List-layer-contents .comment {display:inline-block;text-align:left;color:#777;margin-left:10px;}
.List-layer-popup .List-layer-contents .comment a.btn {color: #666;font-weight: bold;border-radius: 2px;line-height: 18px;}
.List-layer-popup .List-layer-close{position: absolute;top: 4px;right: 2px;}
.List-layer-popup .List-layer-close img{width: 38px;}

/* 상품 팝업용 */
#mCfmPductPopHeader {z-index:1;position:relative;height:50px;line-height:50px;border-bottom:1px solid #e3e4e6;text-align:center;}
#mCfmPductPopHeader .mDicTit {display:inline;color:#222;font-weight:bold;font-size:17px;line-height:50px;}

.clsbtn {z-index:2;position:absolute;top:0;right:0;width:50px;height:50px;background:url('https://product.kt.com/storage/mDic/img/easyjoin/easyPopClose.png') 50% 50% no-repeat;background-size:15px 16px;}
.clsbtn button {display:block; width:50px;height:50px; margin:0; padding:0; border:0; background:none; vertical-align:top; cursor:pointer;}
.clsbtn button span {position:absolute;width:1px;height:1px;overflow:hidden;margin:-1px;padding:0;clip:rect(0,0,0,0);}

#mCfmPductPopContent {padding:25px 15px;}
#mCfmPductPopContent .pduct-pop-tbl-desc:first-child {margin:0;}

.quick-consulting-area .title {color:#222; font-weight:normal; font-size:15px;}
.quick-consulting-area .title span {color:#d71826;}

.pduct-name-list {overflow:hidden;border:solid #c8c8c8;border-width:1px 0 0 1px;}
.pduct-name-list li {position:relative;float:left; width:40%; height:36px; border:solid #c8c8c8; border-width:0 1px 1px 0; background:#f2f2fa; color:#222; font-size:12px; font-weight:bold; text-indent:4px; line-height:34px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.pduct-name-list li span {width:87%;}

/*.pduct-name-list li button {position:absolute; top:0; right:0; overflow:hidden; width:19px; height:30px; background:url(../images/common/ico-remove-md.png) no-repeat 0 0; background-size:19px 30px; color:transparent;}*/

.pduct-pop-tbl-desc {overflow:hidden;margin:30px 0 0 0;color:#222;font-size:15px;}
.pduct-pop-tbl-desc .info-txt {float:right;color:#666;font-size:12px;}

.input-box {margin:10px 0 0 0;border-top:1px solid #555;}
.input-box dt {position:relative;margin:20px 0 0 0;color:#222;font-size:15px;}
.input-box dd {margin:10px 0 0 0;}

.input-box .pduct-pop-ipt-box {display:table;table-layout:fixed;width:100%;}
.input-box .pduct-pop-ipt-box.e-mail + .pduct-pop-selt {margin:5px 0 0 0;}
.input-box .pduct-pop-ipt-box.phone .pduct-pop-selt-cover {width:30%;}
.input-box .pduct-pop-ipt-box.phone .pduct-pop-ipt-cover {width:70%;}

.input-box .pduct-pop-ipt-cover, .input-box .mail, .input-box .pduct-pop-selt-cover, .input-box .pduct-pop-ipt-box .nbsp {display:table-cell;}
.input-box .pduct-pop-ipt-cover {width:50%;}
.input-box .mail {width:20px;text-align:center;}
.input-box .pduct-pop-ipt-box .nbsp {width:10px;}

.input-box .pduct-pop-ipt {width:100%;}
.input-box .pduct-pop-selt {width:100%;height:40px;}

.pduct-pop-note {position:relative;margin:10px 0 0 0;}
.pduct-pop-note .pduct-pop-radio, .pduct-pop-note .pduct-pop-checkbox {left:0;z-index:-1;}

.option-area {position:relative;}
.pduct-pop-radio, .pduct-pop-checkbox { position: absolute;left:0;top:-1px;width:17px;height:17px;}
.pduct-pop-radio:checked + label:before, .pduct-pop-checkbox:checked + label:before { border: none; background: #d71826; }
.pduct-pop-radio:checked + label:after, .pduct-pop-checkbox:checked + label:after { display: block; content: ""; position: absolute; top: 6px; left: 4px; width: 9px; height: 9px; z-index: 1; background: #fff; }
.pduct-pop-radio + label, .pduct-pop-checkbox + label { display: inline-block; position: relative; -webkit-box-sizing: border-box; box-sizing: border-box; padding-left: 22px; margin-right: 15px; font-size: 13px; color: #222; height: 17px; line-height: 19px; }
.pduct-pop-radio + label:before, .pduct-pop-checkbox + label:before { display: block; content: ''; position: absolute; top: 2px; left: 0; width: 17px; height: 17px; z-index: 0; border: 1px solid #999; background: #fff; }
.pduct-pop-radio:focus + label, .pduct-pop-radio:focus + label, .pduct-pop-checkbox:focus + label, .pduct-pop-checkbox:focus + label { outline: 1px dotted #666; }
.pduct-pop-radio + label:before { -webkit-border-radius: 10px; border-radius: 10px; }
.pduct-pop-radio:checked + label:after { -webkit-border-radius: 5px; border-radius: 5px; }
.pduct-pop-checkbox:checked + label:before { background: #fff; border: 1px solid #999; }
.pduct-pop-checkbox:checked + label:after { top: 6px; left: 3px; background: #d71826; width: 2px; height: 2px; box-shadow: 2px 0 0 #d71826, 4px 0 0 #d71826, 6px 0 0 #d71826, 6px -2px 0 #d71826, 6px -4px 0 #d71826, 6px -6px 0 #d71826, 6px -8px 0 #d71826; -webkit-transform: rotate(45deg); transform: rotate(45deg); }

.required { position: relative; overflow: hidden; color: transparent;}
.required:after { position: absolute; top: 1px; left: 3px; color: #d71826; content: '*';}

.bill-list { margin-top: 15px;}
.bill-list li { margin-top: 8px; padding-left: 14px; color: #888; text-indent: -14px; font-size: 12px; line-height: 1.3;}
.bill-list li:first-child { margin-top: 0;}

.pduct-red {color:#d71826}

.pduct-pop-row-tbl {margin:10px 0 0 0;border-top:1px solid #8f8f8f;border-bottom:1px solid #8f8f8f;}
.pduct-pop-row-tbl tbody th {padding:13px 0 12px;border-top:1px solid #dbdbde;background:#f1f2fa;color:#222;font-weight:normal;}
.pduct-pop-row-tbl tbody td {padding:13px 0 12px 10px;border-top:1px solid #dbdbde;color:#454545;}
.pduct-pop-row-tbl tbody tr:first-child th, .pduct-pop-row-tbl tbody tr:first-child td {border-top:0;}


/*Main Loding */
.mOllehDimm{display:;position:fixed;top:0;left:0;bottom:0;right:0;z-index:9999;background:#000000;opacity:0.6;width:100%;height:100%;}
.mOllehMainLoding{display:;}
.mOllehMainLoding .mOllehDimm{display:block;position:fixed;z-index:88;width:auto;margin:0;border-radius:0;}
.mOllehMainLoding .messageContent{position:fixed;top:50%;margin-top:-42px;z-index:90;width:100%;text-align: center;}
.mOllehMainLoding .messageContent .loading{display:block;width:60px;height:60px;margin:0 auto;}
.mOllehMainLoding .messageContent .txt{display:block;color:#ffffff;font-size:14px;margin-top:5px;}

/*로딩바 */
#floatingBarsG{position:relative;width:37px;height:46px;margin:0 auto 19px;}
.blockG{position:absolute;background-color:#c2c2c2;width:6px;height:14px;border-radius:6px;-o-border-radius:6px;-ms-border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;transform:scale(.4);-o-transform:scale(.4);-ms-transform:scale(.4);-webkit-transform:scale(.4);-moz-transform:scale(.4);animation-name:fadeG;-o-animation-name:fadeG;-ms-animation-name:fadeG;-webkit-animation-name:fadeG;-moz-animation-name:fadeG;animation-duration:1.2s;-o-animation-duration:1.2s;-ms-animation-duration:1.2s;-webkit-animation-duration:1.2s;-moz-animation-duration:1.2s;animation-iteration-count:infinite;-o-animation-iteration-count:infinite;-ms-animation-iteration-count:infinite;-webkit-animation-iteration-count:infinite;-moz-animation-iteration-count:infinite;animation-direction:normal;-o-animation-direction:normal;-ms-animation-direction:normal;-webkit-animation-direction:normal;-moz-animation-direction:normal}#rotateG_01{left:0;top:17px;animation-delay:.45s;-o-animation-delay:.45s;-ms-animation-delay:.45s;-webkit-animation-delay:.45s;-moz-animation-delay:.45s;transform:rotate(-90deg);-o-transform:rotate(-90deg);-ms-transform:rotate(-90deg);-webkit-transform:rotate(-90deg);-moz-transform:rotate(-90deg)}#rotateG_02{left:5px;top:6px;animation-delay:.6s;-o-animation-delay:.6s;-ms-animation-delay:.6s;-webkit-animation-delay:.6s;-moz-animation-delay:.6s;transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg)}#rotateG_03{left:16px;top:2px;animation-delay:.75s;-o-animation-delay:.75s;-ms-animation-delay:.75s;-webkit-animation-delay:.75s;-moz-animation-delay:.75s;transform:rotate(0);-o-transform:rotate(0);-ms-transform:rotate(0);-webkit-transform:rotate(0);-moz-transform:rotate(0)}#rotateG_04{right:5px;top:6px;animation-delay:.9s;-o-animation-delay:.9s;-ms-animation-delay:.9s;-webkit-animation-delay:.9s;-moz-animation-delay:.9s;transform:rotate(45deg);-o-transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg)}#rotateG_05{right:0;top:17px;animation-delay:1.05s;-o-animation-delay:1.05s;-ms-animation-delay:1.05s;-webkit-animation-delay:1.05s;-moz-animation-delay:1.05s;transform:rotate(90deg);-o-transform:rotate(90deg);-ms-transform:rotate(90deg);-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg)}#rotateG_06{right:5px;bottom:4px;animation-delay:1.2s;-o-animation-delay:1.2s;-ms-animation-delay:1.2s;-webkit-animation-delay:1.2s;-moz-animation-delay:1.2s;transform:rotate(135deg);-o-transform:rotate(135deg);-ms-transform:rotate(135deg);-webkit-transform:rotate(135deg);-moz-transform:rotate(135deg)}#rotateG_07{bottom:0;left:16px;animation-delay:1.35s;-o-animation-delay:1.35s;-ms-animation-delay:1.35s;-webkit-animation-delay:1.35s;-moz-animation-delay:1.35s;transform:rotate(180deg);-o-transform:rotate(180deg);-ms-transform:rotate(180deg);-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg)}#rotateG_08{left:5px;bottom:4px;animation-delay:1.5s;-o-animation-delay:1.5s;-ms-animation-delay:1.5s;-webkit-animation-delay:1.5s;-moz-animation-delay:1.5s;transform:rotate(-135deg);-o-transform:rotate(-135deg);-ms-transform:rotate(-135deg);-webkit-transform:rotate(-135deg);-moz-transform:rotate(-135deg)}@keyframes fadeG{0%{background-color:#999}100%{background-color:#d6d6d6}}@-o-keyframes fadeG{0%{background-color:#999}100%{background-color:#d6d6d6}}@-ms-keyframes fadeG{0%{background-color:#999}100%{background-color:#d6d6d6}}@-webkit-keyframes fadeG{0%{background-color:#999}100%{background-color:#d6d6d6}}@-moz-keyframes fadeG{0%{background-color:#999}100%{background-color:#d6d6d6}}
/* //Main Loding */

.is-hidden { overflow:hidden;position:absolute;width: 1px;height:1px;margin:-1px;padding:0;border:0;clip:rect(1px, 1px, 1px, 1px);}

/* new pop */
.pduct-pop-wrap {position:relative;display:inline-block;border:2px solid #555;background-color:#fff;font-size:13px;box-sizing:border-box;}
.pduct-pop-wrap .pduct-pop-header {display:block;height:50px;color:#222;font-size:18px;text-align:center;border-bottom:1px solid #ccc;line-height:50px;}
.pduct-pop-wrap .pduct-pop-body {min-height:100px;padding:20px;}
.pduct-pop-wrap .pduct-pop-close {position:absolute;right:30px;}
.pduct-pop-wrap .pduct-pop-today-close {height:32px;padding:8px 0 0 32px;border-top:1px solid #ccc;}
.pduct-pop-wrap .pduct-pop-today-close label {font-size:14px;color:#888;letter-spacing:-0.5px;}

.pduct-pop-wrap .pduct-pop-tit {display:block;margin:35px 0 0 0;font-size:16px;color:#222;}
.pduct-pop-wrap .pduct-pop-tit:first-child {margin:0;}

.pduct-pop-wrap .pduct-pop-line-tit {display:block;margin:35px 0 0 0;padding:0 0 10px 0;border-bottom:2px solid #555;font-size:16px;color:#222;}
.pduct-pop-wrap .pduct-pop-line-tit:first-child {margin:0;}

.pduct-pop-wrap .pduct-pop-num-list {margin:15px 0 0 0;}
.pduct-pop-wrap .pduct-pop-num-list li {margin:10px 0 0 0;padding:0 0 0 16px;text-indent:-16px;}
.pduct-pop-wrap .pduct-pop-num-list li.two-digits {padding:0 0 0 24px;text-indent:-24px;}
.pduct-pop-wrap .pduct-pop-num-list li:first-child {margin:0;}
.pduct-pop-wrap .pduct-pop-num-list li .bold {font-family:'NSM';}
.pduct-pop-wrap .pduct-pop-num-list li .pduct-pop-desh-list li {text-indent:0;}

.pduct-pop-wrap .pduct-pop-num-list li .pduct-pop-desh-list {margin:5px 0 0 0;}

.pduct-pop-wrap .pduct-pop-round-num-list li {padding:0 0 0 22px;text-indent:-22px;}

.pduct-pop-wrap .pduct-pop-noted-list {margin:15px 0 0 0;}
.pduct-pop-wrap .pduct-pop-noted-list li {position:relative;margin:10px 0 0 0;padding:0 0 0 16px;}
.pduct-pop-wrap .pduct-pop-noted-list li:first-child {margin:0;}
.pduct-pop-wrap .pduct-pop-noted-list li:after {content:'※';position:absolute;top:0;left:0;}

.pduct-pop-wrap .pduct-pop-noted-list li .pduct-pop-desh-list {margin:5px 0 0 0;}
.pduct-pop-wrap .pduct-pop-noted-list li .pduct-pop-desh-list li {margin:5px 0 0 0;text-indent:0;}
.pduct-pop-wrap .pduct-pop-noted-list li .pduct-pop-round-num-list {margin:5px 0 0 0;}
.pduct-pop-wrap .pduct-pop-noted-list li .pduct-pop-round-num-list li {margin:5px 0 0 0;padding:0 0 0 22px;text-indent:-22px;}
.pduct-pop-wrap .pduct-pop-noted-list li .pduct-pop-round-num-list li:after {display:none;}

.pduct-pop-wrap .pduct-pop-list {margin:15px 0 0 0;}
.pduct-pop-wrap .pduct-pop-list li {position:relative;margin:10px 0 0 0;padding:0 0 0 10px;}
.pduct-pop-wrap .pduct-pop-list li:first-child {margin:0;}
.pduct-pop-wrap .pduct-pop-list li:after {content:'';position:absolute;top:5px;left:0;width:3px;height:3px;border-radius:100%;background:#555;}
.pduct-pop-wrap .pduct-pop-list li .pduct-pop-row-tbl, .pduct-pop-wrap .pduct-pop-list li .pduct-pop-col-tbl {margin:5px 0 0 0;border-top-width:1px;}
.pduct-pop-wrap .pduct-pop-list li .pduct-pop-noted-list li {padding:0 0 0 16px;}
.pduct-pop-wrap .pduct-pop-list li .pduct-pop-noted-list li:after {content:'※';top:0;width:auto;height:auto;background:none;}
.pduct-pop-wrap .pduct-pop-list li .pduct-pop-noted-list li .pduct-pop-desh-list li {padding:0 0 0 12px;}
.pduct-pop-wrap .pduct-pop-list li .pduct-pop-noted-list li .pduct-pop-desh-list li:after {content:'';top:7px;width:5px;height:1px;background:#555;}

.pduct-pop-wrap .pduct-pop-desh-list {margin:15px 0 0 0;}
.pduct-pop-wrap .pduct-pop-desh-list li {position:relative;margin:10px 0 0 0;padding:0 0 0 12px;}
.pduct-pop-wrap .pduct-pop-desh-list li:after {content:'';position:absolute;top:7px;left:0;width:5px;height:1px;background:#555;}
.pduct-pop-wrap .pduct-pop-desh-list li:first-child {margin:0;}
.pduct-pop-wrap .btn.medium {padding:0 40px;}
.pduct-pop-wrap .btn-area {padding-top:30px;}
.pduct-pop-wrap .btn-area .btn {margin:0 2px;}

.pduct-pop-img-box {text-indent:0;}

.pduct-pop-row-tbl {margin:15px 0 0 0;border-top:3px solid #555;border-bottom:1px solid #dbdbde;font-size:13px;}
.pduct-pop-row-tbl tbody th {padding:15px 0 16px 30px;border-top:1px solid #ccc;background:#f1f2fa;color:#222;font-weight:normal;text-align:left;}
.pduct-pop-row-tbl tbody tr td {padding:15px 0 16px 30px;border-top:1px solid #dbdbde;text-align:left;}
.pduct-pop-row-tbl tbody tr:first-child th, .pduct-pop-row-tbl tbody tr:first-child td {border-top:0;}
.pduct-pop-row-tbl tbody td a,
.pduct-pop-row-tbl tbody td img {vertical-align:middle;}
.pduct-pop-row-tbl tbody td .links {border-bottom-width:1px;border-bottom-style:solid;}
.pduct-pop-row-tbl tbody td .ellipsis {vertical-align:middle;}
.pduct-pop-row-tbl tbody td a.ellipsis {color:#222;}
.pduct-pop-row-tbl tbody td a.ellipsis:hover {color:#d71826;text-decoration:underline;}
.pduct-pop-row-tbl tbody td .ellipsis.thumb {position:relative;top:2px;margin:10px 0;padding-top:2px;}
.pduct-pop-row-tbl tbody td .ellipsis.thumb img {margin-top:-2px;width:50px;height:50px;margin-right:9px;}
.pduct-pop-row-tbl tbody td.align-left {text-align: left;}
.pduct-pop-row-tbl tbody td.left-padding {padding-left: 30px !important;}

.pduct-pop-col-tbl {margin:15px 0 0 0;border-top:3px solid #555;border-bottom:1px solid #ccc;font-size:13px;}
.pduct-pop-col-tbl thead th {padding:15px 0 16px 30px;border-top:1px solid #ccc;background:#f1f2fa;color:#222;font-weight:normal;text-align:center;}
.pduct-pop-col-tbl tbody tr td {padding:15px 0 16px 30px;border-top:1px solid #555;text-align:center;}
.pduct-pop-col-tbl .option-area {display:inline-block;position:relative;margin:0 5px 0 0;}
.pduct-pop-col-tbl .option-area .radio {z-index:-1;position:absolute;top:0;left:0;width:20px;height:20px;appearance: none;}
.pduct-pop-col-tbl .option-area .label {z-index:2;position:relative;display:inline-block;height:20px;margin-right:26px;color:#222;line-height:20px;cursor:pointer;background-repeat:no-repeat;}
.pduct-pop-col-tbl .option-area .label:last-child {margin:0;}
.pduct-pop-col-tbl .option-area [type="radio"] + label {background-image:url('https://product.kt.com/static/common/pduct_pop/bg_pduct_pop_form_radios.png');}
.pduct-pop-col-tbl .option-area [type="checkbox"] + label {background-image:url('https://product.kt.com/static/common/pduct_pop/bg_pduct_pop_form_checkboxs.png');}
.pduct-pop-col-tbl .option-area [type="radio"]:disabled + label {cursor:default;}
.pduct-pop-col-tbl .option-area.dir-flow label {padding-left:30px;}
.pduct-pop-col-tbl .option-area.dir-flow [type="radio"] + label,
.pduct-pop-col-tbl .option-area.dir-flow [type="checkbox"] + label {background-position:0 0;}
.pduct-pop-col-tbl .option-area.dir-flow [type="radio"]:checked + label,
.pduct-pop-col-tbl .option-area.dir-flow [type="checkbox"]:checked + label {background-position:0 -20px;}
.pduct-pop-col-tbl .option-area.dir-flow [type="radio"]:disabled + label,
.pduct-pop-col-tbl .option-area.dir-flow [type="checkbox"]:disabled + label {background-position:0 -40px;}
.pduct-pop-col-tbl .option-area.dir-reverse label {padding-right:30px;}
.pduct-pop-col-tbl .option-area.dir-reverse [type="radio"] + label,
.pduct-pop-col-tbl .option-area.dir-reverse [type="checkbox"] + label {background-position:100% 0;}
.pduct-pop-col-tbl .option-area.dir-reverse [type="radio"]:checked + label,
.pduct-pop-col-tbl .option-area.dir-reverse [type="checkbox"]:checked + label {background-position:100% -20px;}
.pduct-pop-col-tbl .option-area.dir-reverse [type="radio"]:disabled + label,
.pduct-pop-col-tbl .option-area.dir-reverse [type="checkbox"]:disabled + label {background-position:100% -40px;}
.pduct-pop-col-tbl .pduct-pop-td-list {margin:5px 0 0 0;}
.pduct-pop-col-tbl .pduct-pop-td-list li {position:relative;margin:5px 0 0 0;padding:0 0 0 10px;}
.pduct-pop-col-tbl .pduct-pop-td-list li:after {top:7px;width:4px;height:1px;background:#555;}
.pduct-pop-col-tbl .pduct-pop-td-left {text-align:left;}

.pduct-pop-rowcol-tbl {margin:15px 0 0 0;border-top:3px solid #555;border-bottom:1px solid #ccc;font-size:13px;text-align:center;}
.pduct-pop-rowcol-tbl thead tr th {padding:15px 0 12px;background:#f1f2fa;color:#222;font-weight:normal;}
.pduct-pop-rowcol-tbl tbody tr th {padding:8px 0 11px;border-top:1px solid #ccc;background:#f1f2fa;color:#222;font-weight:normal;}
.pduct-pop-rowcol-tbl tbody tr td {padding:8px 0 11px;border-top:1px solid #ccc;}
.pduct-pop-rowcol-tbl tbody tr td.td-left {padding-left:20px;text-align:left;}

/* kt.com 고객센터 연결 신규 인벤토리 기획 개발 SB v0.2 */
.inven2022 {display:flex; position:relative; height:40px; margin:15px 25px 30px;border-radius:40px; background:#f1f5f8;}
.inven2022:after {content:""; position:absolute; top:50%; left:50%; margin-top:-11px; width:1px; height:22px; background:#d6dbdf;}
.inven2022 a {flex:1; line-height:40px; text-align:center; font-size:14px; font-weight:bold; letter-spacing:-0.5px;}
.inven2022 a span {position:relative; display:inline-block; line-height:40px; padding:0 22px 0 26px;}
.inven2022 a span:before {content:""; position:absolute; top:50%; right:10px; width:2px; height:8px; margin-top:-7px; background:#000; transform:rotate(-45deg);}
.inven2022 a span:after {content:""; position:absolute; top:50%; right:10px; width:2px; height:8px; margin-top:-2px; background:#000; transform:rotate(45deg);}
.inven2022 .btn_inven2022_phone span {margin-left:16px; background:url(/static/common/images/util/inven2022_phone.png) 0 50% no-repeat; background-size:auto 20px;}
.inven2022 .btn_inven2022_chat span {background:url(/static/common/images/util/inven2022_talk.png) 0 50% no-repeat; background-size:auto 20px;}
.recommend + .inven2022,
.forte-area + .inven2022 {margin-bottom:75px;}
@media screen and (max-width:365px)  {
	.inven2022 a span {padding-top:2px; line-height:1.2;}
}
/* SEO고도화 */
.m-util .service-title .seo-improve-heading {font-size:21px !important; font-weight:700 !important; font-family:"KTB", "Malgun Gothic", "MG", sans-serif; letter-spacing:0; color:#000;}